*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
app/src/main/res/drawable-hdpi/
app/src/main/res/drawable-mdpi/
app/src/main/res/drawable-xhdpi/
app/src/main/res/drawable-xxhdpi/
app/src/main/res/drawable-xxxhdpi/
app/src/main/res/drawable/
app/src/main/res/menu/
demo01/libs/
demo01/src/main/res/drawable/
freeline_core/__init__.pyc
freeline_core/android_tools.pyc
freeline_core/build_commands.pyc
freeline_core/builder.pyc
freeline_core/command.pyc
freeline_core/dispatcher.pyc
freeline_core/exceptions.pyc
freeline_core/freeline_build.pyc
freeline_core/gradle_clean_build.pyc
freeline_core/gradle_inc_build.pyc
freeline_core/gradle_tools.pyc
freeline_core/init.pyc
freeline_core/logger.pyc
freeline_core/sync_client.pyc
freeline_core/task.pyc
freeline_core/task_engine.pyc
freeline_core/tracing.pyc
freeline_core/utils.pyc
freeline_core/version.pyc
